[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
mypy = "*"
flake8 = "*"
black = "*"
hypothesis = "*"
toolz = "*"
pymonad = "*"
ipython = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
